.payment-selection {
  padding: 1dvw;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: fit-content;

  .header-1 {
    font-size: $size-h6;
  }

  .check {
    width: 20px;
  }

  .selection-header {
    margin-left: 1dvw;
    font-size: $size-general;
  }

  .add-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    padding: 10px 0;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: #0000000e;
    }
  }

  .add-section img:nth-child(2) {
    width: auto;
    height: 40px;
  }

  .add-section p {
    margin: 0;
    color: #2d6cd7;
  }

  .caption {
    font-weight: 500;
    font-size: $size-general;
  }

  .header-2 {
    font-size: $size-h5;
    margin-bottom: 10px;
  }
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  p {
    margin: 0;
    font-size: $size-general;
  }

  .date {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .code {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .add-card {
    border-radius: 5px;
    background: #3b7e2a;
    padding: 0.5rem 1rem;
    color: white;
    border: 0;
    outline: 0;
  }
}
